/* ROOT */

:root {
    --background: #1d1d1d;
    --light: #38a4a5;
    --dark: #134558;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

/* GOOGLE */

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* OVERLAY */

.overlay {
    width: 340px;
    height: 200px;
    background-color: var(--background);
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    border: 3px solid var(--light);
    text-align: center;
    transition: ease-in 0.3s;
    opacity: 0.5;
}

.overlay:hover {
    opacity: 1;
}

h1 {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    color: var(--light);
    font-variant: small-caps;
    font-size: 40px;
}

.ipInput {
    background-color: transparent;
    border: 1px solid var(--light);
    width: 240px;
    margin-top: 15px;
    color: white;
    text-align: center;
    height: 25px;
    font-size: 15px;
}

.ipSubmit {
    background-color: transparent;
    border: 1px solid var(--light);
    width: 100px;
    margin-top: 15px;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
    transition: ease-in 0.3s;
}

.ipSubmit:hover {
    background-color: var(--light);
}

/* HOPS */

.hops {
    width: 340px;
    height: auto;
    background-color: var(--background);
    position: absolute;
    left: 50px;
    top: 300px;
    border-radius: 10px;
    border: 3px solid var(--light);
    text-align: center;
    transition: ease-in 0.3s;
    opacity: 0.5;
}

.hops:hover {
    opacity: 1;
}

.hopTable {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    color: white;
    border-collapse: collapse;
    margin-bottom: 25px;
    margin-top: 15px;
}

.hopTr2, .hopTr3 {
    width: 20%;
}

.hopTr1 {
    width: 40%;
}

.hopTr2 {
    border-right: 1px solid var(--light);
    border-left: 1px solid var(--light);
}

.hopTrTitle {
    height: 35px;
}

.hopTrData {
    font-weight: 100;
}

/* WAIT OVERLAY */
.wait{
    width: 100vw;
    height: 100vh;
    background-color: rgba(66, 66, 66, 0.5);
    position: absolute;
    z-index: 50;
    top: 0;
    display: none;
}

.load{
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc((100vw - 20px) / 2);
    top: calc((100vh - 20px) / 2);
}

/* COPYRIGHT */

.copyright {
    position: absolute;
    left: 80px;
    bottom: 5px;
    margin: 0;
    padding: 0;
}